<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- TRACE (all) < DEBUG < INFO < WARN < ERROR < OFF (none) -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="trace" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="net.aaronfields.springoauth2.api" level="trace" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>